/*navigation for mobile*/
:root {
    --nav-background: #f3f3f3e3;
    --vav-shadow: #f3f3f3;
}

@media screen and (max-width:700px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width:850px) {
    .pref {
        position: relative;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .icon {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0%;
        width: 40%;
    }

    .icon a,
    .footer-link a {
        justify-content: space-between;
    }

    textarea,
    .input {
        width: 50vw;
    }

    .about-me {
        background-color: transparent;
    }

    .contact-me {
        margin-top: 10%;
    }

    .project-detail {
        flex-direction: column;
        gap: 20px;
    }

    .closeproject {
        height: auto;
        width: 90%;
    }

    .tbPadding {
        padding: 30% 3%;
    }

    .name {
        padding: 10% 0%;
    }

    .exper-container{
        flex-direction: column;
    }
    .experimg{
        flex-direction: row;
    }
    .exper-container img {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:1030px) {
    .navmenu {
        position: fixed;
        top: -1000%;
        left: 0;
        background-color: var(--nav-background);
        width: 100%;
        box-shadow: 0 12px 24px var(--vav-shadow);
        backdrop-filter: blur(7.8px);
        -webkit-backdrop-filter: blur(7.8px);
        padding-block: 1rem 1rem;
        transition: top .4s;
        z-index: 10;
    }

    .nav-list-container {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .topmenu {
        width: 50%;
    }

    .closenav {
        position: absolute;
        top: 1.15rem;
        right: 1.5rem;
    }

    .closenav,
    .opennav {
        visibility: visible;
    }

    .show-menu {
        top: 0;
    }
}