/*set the color variables*/
:root {
    --background: #f3f3f3;
    --text-color-light: #505050;
    --text-color-dark: #f3f3f3;
    --fixed-color-text-white: #f3f3f3;
    --fixed-color-text-grey: #505050;
    --first-color: #588484;
    --second-color: #c5bf4b;
    --third-color: #85586F;
    --third-comp-green: #58846e;
    --third-comp-green-trans: #58846e8c;
    --third-comp-green-trans-more: #58846e33;
    --third-comp-blue: #585884;
    --third-comp-blue-trans: #585884b0;
    --third-comp-blue-trans-more: #58588433;
    --img-background: #505050;
}

* {
    user-select: none;
}

body {
    background-color: var(--background);
    scroll-behavior: smooth;
}

/* centered element */
.centerRow {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.betweenRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centerCol {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

/* font styling */
.input,
textarea,
h1,
h3,
h4,
h5,
h6,
li {
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;
    color: var(--text-color-light);
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
li:hover {
    cursor: default;
}

h2 {
    font-family: 'El Messiri', sans-serif;
    color: var(--text-color-light);
}

a {
    font-size: 19px;
    text-decoration: none;
    font-family: 'El Messiri', sans-serif;
    color: var(--first-color);
    cursor: pointer;
}

.about-me,
.project-detail,
.input,
textarea {
    text-align: justify;
}

.sectionStart {
    position: relative;
    top: -40px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

/* ------- front ------- */

/* top menue */
nav {
    position: sticky;
    top: 0;
    height: 40px;
    transition: .4s ease;
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    z-index: 22;
}

.closenav,
.opennav {
    display: inline-flex;
    cursor: pointer;
    color: var(--first-color);
    visibility: hidden;
    margin: 7px;
    transition: .4s ease-in-out;
}

.closenav:hover,
.opennav:hover {
    color: var(--third-color);
}

.toLmode {
    cursor: pointer;
    display: none;
}

.toDmode {
    cursor: pointer;
}

.toDmode svg circle,
.toDmode svg path {
    transition: .4s ease-in-out;
}

.toDmode:hover svg circle,
.toDmode:hover svg path {
    fill: var(--text-color-light);
}

.toLmode svg circle,
.toLmode svg path {
    transition: .4s ease-in-out;
}

.toLmode:hover svg circle,
.toLmode:hover svg path {
    stroke: var(--text-color-light);

}

.topname,
.topmenu {
    width: 130px;
    height: 40px;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.topname {
    float: left;
    font-size: 21px;
}

.topmenu {
    float: right;
}

.topmenu:hover {
    font-weight: 600;
    background-color: var(--first-color);
    color: var(--background);
    border-radius: 10px;
}

.contactmenu:hover {
    background-color: var(--third-color);
}


/* front */
.tbPadding {
    padding: 7% 0%;
}

.pref {
    padding: 0% 5%;
}

.name {
    font-family: "Salsa", cursive;
    color: var(--second-color);
    font-size: 10vw;
    padding: 3%;
    animation: coloring 5s linear infinite alternate forwards;
}

@keyframes coloring {
    0% {
        color: var(--second-color);
    }

    25% {
        color: var(--third-color);
    }

    50% {
        color: var(--third-comp-green);
    }

    75% {
        color: var(--third-comp-blue);
    }

    100% {
        color: var(--first-color);
    }
}

.positionName {
    color: var(--text-color-light);
    font-size: clamp(15px, 4vw, 30px);
    font-family: 'El Messiri', sans-serif;
}

.pref p {
    width: 400px;
    color: var(--text-color-light);
    text-align: justify;
    font-size: 19px;
    font-family: 'El Messiri', sans-serif;
}

.pref a {
    color: var(--third-color);
    text-align: justify;
    transition: .4s ease-in-out;
}

.icon {
    padding: 15px 20px;
}

.icon a {
    font-size: 30px;
    color: var(--third-color);
    font-weight: 600;
    transition: .4s ease-in-out;
}

.pref a:hover,
.icon a:hover {
    color: var(--third-comp-green);
    font-weight: 1000;
}

/* About me */
.about-me,
.contact-me {
    background-color: var(--third-comp-green-trans-more);
    border-radius: 35px;
    padding: 20px;
    height: fit-content;
    width: 70vw;
    color: var(--text-color-light);
}

/*experience*/
.exper-container {
    margin: 1% 5%;
    padding: 2%;
    border-radius: 35px;
    justify-content: space-between;
    border-bottom: 3px solid var(--third-comp-blue-trans-more);
}

.exper-container h3 {
    font-size: 19px;
}

.exper-container p {
    color: var(--text-color-light);
}

.exper-container img {
    height: 150px;
    width: 150px;
    margin: 5px 20px;
    border-radius: 20px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: .4s ease-in-out;
    filter: grayscale(100%);
}

.exper-container img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
}

.exper {
    align-items: baseline;
}

.exper-details {
    transition: .4s ease-in-out;
    display: none;
}

.btn-show-details {
    background-color: var(--third-comp-blue);
    border-radius: 10px;
    color: var(--fixed-color-text-white);
    outline: none;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
    width: 20%;
    height: 15%;
    font-weight: bold;
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    margin: 1%;
}

.btn-show-details:hover {
    transform: scale(1.1);
    background-color: var(--third-comp-blue-trans);
}

/*skills*/
.skills-container {
    position: relative;
    padding: 0% 3%;
}

.skillsBox {
    margin: auto;
    height: 5cm;
    z-index: 3;
    width: 90%;
    border-right: 7px solid var(--third-comp-green);
    border-left: 7px solid var(--third-comp-green);
    border-radius: 5px;
}

.skills {
    display: flex;
    align-items: center;
}

.skill {
    display: block;
    text-align: center;
    margin: 12px;
    padding: 5px 10px;
    width: 100px;
    height: 100px;
    border-width: 7px 0px;
    border-style: solid;
    border-color: var(--third-comp-green-trans);
    border-radius: 2%;
}

.skill h6 {
    text-align: center;
    margin-block-start: 8px;
    margin-block-end: 5px;
    font-weight: bold;
    font-size: 13px;
}

.skill img {
    height: 35px;
    margin-top: 20px;
}

.sample-slider,
.swiper-pagination-bullet {
    background-color: var(--third-color);
}

.swiper-pagination-horizontal.swiper-pagination-bullets {
    top: 90%;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--third-color);
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next {
    background-image: url(assets/svg/next.svg);
}

.swiper-button-prev {
    background-image: url(assets/svg/prev.svg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

/* projects */
.project-detail-container {
    height: auto;
    width: auto;
    background-color: var(--third-comp-green-trans-more);
    margin: 1% 10%;
    border-radius: 35px;
    display: none;
}

.project-detail {
    padding: 2% 3%;
    flex-wrap: nowrap;
    width: 90%;
}

.project-detail h3,
.project-detail ul {
    margin: 0% 3%;
    text-align: justify;
    z-index: 2;
}

.project-detail img {
    height: 100px;
    width: auto;
    border-radius: 20%;
    transition: .4s ease;
    z-index: 2;
}

.closeproject {
    font-size: 18px;
    font-family: "Salsa", cursive;
    cursor: pointer;
    height: 30vh;
    display: flex;
    align-items: baseline;
    color: var(--text-color-light);
}

.clickhere {
    text-decoration: underline;
    font-size: 15px;
    transition: .4s ease-in-out;
}

.clickhere:hover {
    font-size: 17px;
    color: var(--third-color);
}

/*square of pics*/
.Pics {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 5px;

}

.Pics img,
.Pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.Pics1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Pics img:hover,
.Pic img:hover {
    cursor: zoom-in;
    z-index: 5;
}

.Pic {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 80px);
    grid-gap: 5px;
}

video {
    height: 100%;
    width: 200px;
    border-radius: 5%;
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    cursor: zoom-out;
    display: none;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* project cards */
.projects-container {
    flex-wrap: wrap;
    margin: 1% 7%;
    justify-content: space-around;
    gap: 10px 50px;
}

.project-card {
    height: 150px;
    margin: 2%;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
    flex-grow: 1;
    z-index: 2;
}

.project-card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    z-index: -1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 20%;
    transition: .4s ease-in-out;
}

.project-card h3 {
    width: 100px;
    height: 40px;
}

.imgbackground {
    background-color: var(--img-background);
}

.imgbackground:hover {
    background-color: var(--first-color);
}

.project-card:hover img {
    filter: grayscale(0%);
}

.project-card:hover {
    transform: scale(1.1);
}


/* certificates */
.certificate-container {
    padding: 0% 5%;
    gap: 5px;
    flex-wrap: wrap;
}

.certificate-container img {
    cursor: pointer;
    width: 45px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.certificate-container img:hover {
    width: 60px;
}

.certificate-container-clicked {
    animation-name: certificateHover;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes certificateHover {
    0% {
        width: 45px;
    }

    100% {
        width: 400px;
    }
}

/* contact */
.contact-form-container {
    flex-direction: column;
}

.contact-me h2 {
    margin: 3%;
}

.msg_error {
    background-color: var(--third-color);
    border-radius: 10px;
    width: 250px;
    height: 25px;
    text-align: center;
    color: var(--text-color-light);
    display: none;
    margin: 1%;
}

fieldset {
    border-width: 0px;
    border-radius: 50%;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.input,
textarea {
    background-color: transparent;
    border: none;
    padding: 0.5%;
    border-radius: 5px;
    border-bottom: 2px solid var(--third-comp-green);
    transition: .2s ease-in-out;
    width: 20vw;
    color: var(--fixed-color-text-grey);
}

textarea {
    width: 50vw;
}

.input:focus,
textarea:focus {
    border: 2px solid var(--third-comp-green);
    border-radius: 5px;
    outline: none;
    color: var(--text-color-light);
    animation-name: borderMove;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes borderMove {
    25% {
        border-left: 3px dashed var(--third-comp-green);
    }

    50% {
        border-top: 3px dashed var(--third-comp-green);
    }

    75% {
        border-right: 3px dashed var(--third-comp-green);
    }

    100% {
        border-bottom: 2px dashed var(--third-comp-green);
    }
}

.input:hover,
textarea:hover {
    animation-name: borderMove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
}

.send_btn {
    background: var(--second-color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
    width: 20%;
    height: 15%;
    color: var(--fixed-color-text-white);
    font-weight: bold;
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;

    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 150px;
}

.send_btn span {
    position: relative;
    z-index: 10;
}


.send_btn::before,
.send_btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.send_btn::before {
    content: "";
    background: var(--third-comp-green);
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.send_btn:hover::before {
    transform: translate3d(100%, 0, 0);
}

.contact-message {
    flex-direction: column;
    margin: 5%;
    display: none;
}

.contact-message h2,
.contact-message h3 {
    margin: 0%;
    color: var(--first-color);
}

/* footer */
footer {
    height: 100px;
    background-color: var(--third-color);
    color: var(--background);
    padding: 0% 2%;
    text-align: center;
    margin: -8px;
}

.footer-link {
    width: 200px;
    justify-content: center;
    gap: 20px;
}

.footer_copy {
    font-family: 'El Messiri', sans-serif;
    width: 180px;
    color: var(--fixed-color-text-white);
    font-size: 19px;
    text-decoration: none;
    transition: .4s ease-in-out;
}

footer a {
    font-family: 'El Messiri', sans-serif;
    color: var(--fixed-color-text-white);
    font-size: 19px;
    text-decoration: none;
    transition: .4s ease-in-out;
}

.footer-link svg {
    transition: .4s ease-in-out;
}

.footer-link a:hover svg {
    transform: scale(1.2);
}